<div th:fragment="sequenceActions(sequence, position, nbSequence)"
     xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

  <a class="ui right floated icon red tiny button"
     href="#"
     th:onclick="|elaastic.showConfirmDeleteModal(${sequence.id})|"
     th:attr="data-tooltip=#{common.delete}"
     data-tooltip="Delete"
     data-inverted="">
    <i class="trash icon"></i>
  </a>

  <a th:unless="${position == nbSequence}"
     class="ui right floated icon tiny button"
     th:href="@{ /sequence/{id }/down(id=${sequence.id})}"
     href="/sequence/123/downsequence"
     th:attr="data-tooltip=#{common.moveDown}"
     data-tooltip="Move down"
     data-inverted="">
    <i class="arrow down icon"></i>
  </a>

  <a th:unless="${position == 1}"
     class="ui right floated icon tiny button"
     th:href="@{/sequence/{id}/up(id=${sequence.id})}"
     href="/sequence/123/upSequence"
     th:attr="data-tooltip=#{common.moveUp}"
     data-tooltip="Move up"
     data-inverted="">
    <i class="arrow up icon"></i>
  </a>

  <a class="ui right floated icon secondary tiny button"
     th:href="@{/sequence/{id}/edit(id=${sequence.id})}"
     href="/sequence/123/edit"
     th:attr="data-tooltip=#{common.update}"
     data-tooltip="$Update"
     data-inverted="">
    <i class="edit icon"></i>
  </a>

  <a class="ui right floated icon primary tiny button"
     th:href="@{/payer/playSequence/{id}(id=${sequence.id})}"
     href="/player/playSequence/123"
     th:attr="data-tooltip=#{sequence.play}"
     data-tooltip="Play the sequence"
     data-inverted="">
    <i class="play icon"></i>
  </a>

</div>