<div th:fragment="statementForm(statementData, urlRemoveAttachment)"
     th:remove="tag"
     xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
    <div id="appTitle"
         v-cloak>
        <a class="ui ribbon label" th:text="#{sequence.statement.title.label}">
            Title
        </a>

        <div class="field"
             th:classappend="${#fields.hasErrors('title')} ? 'error'"
             style="margin-top: 1em;"
             v-on:mouseover="mouseOverTitle"
             v-on:mouseleave="mouseLeaveTitle">
            <div class="ui required input" style="position: relative; overflow: hidden">

                <input type="text"
                       name="title"
                       id="title"
                       th:value="${statementData?.title}"
                       v-bind:class="{onlyShow: !modeEdit && !shouldShowNotice}"
                       th:placeholder="#{sequence.statement.title.type.here}"
                       v-on:focus="startEditing"
                       v-on:blur="stopEditing"
                       size="75"></input>

                <div class="ui right corner label" v-show="shouldShowNotice" style="line-height: unset">
                    <i class="edit icon"></i>
                </div>

            </div>
        </div>

        <div>
            <div class="ui hidden divider"></div>
            <a class="ui ribbon label" style="margin-bottom: 1em;" th:text="#{sequence.statement.attachment.label}">Pièce
                jointe</a>
            <div id="attachment" v-show="hasAttachment == false">
                <input type="file"
                       name="fileToAttached"
                       id="fileToAttached">
            </div>
            <div id="attachmentView" v-show="hasAttachment" th:if="${statementData.attachment != null}">
                <div  th:replace="/assignment/sequence/_statement_attachment :: statementAttachment(${statementData.attachment},650,380)"></div>
                <a style="margin-left: 2em;" class="ui tiny negative right floated button" v-on:click="removeAttachment">
                    <i class="trash icon"></i> Supprimer
                </a>
            </div>
        </div>
    </div>

    <div class="ui hidden divider"></div>

    <div id="statement-section">
        <a class="ui ribbon label">Énoncé</a>

        <div id="statement-container"
             class="ui large text segment"
             v-bind:class="{basic: !shouldShowNotice}"
             v-on:mouseover="mouseOverStatement"
             v-on:mouseleave="mouseLeaveStatement"
             style="overflow: hidden">
            <a class="ui right corner label" v-show="shouldShowNotice">
                <i class="edit icon"></i>
            </a>

            <textarea ref="initialContent" style="display: none;" th:text="${statementData.content}">

      </textarea>

            <vue-ckeditor v-bind:id="'content'"
                          v-bind:name="'content'"
                          v-model="content"
                          th:placeholder="#{sequence.statement.content.type.here(@{/images/example/moon-picnic.jpg})}+#{sequence.statement.content.example}"
                          v-on:focus="startEditing"
                          v-on:blur="stopEditing"
                          v-bind:config="ckeditorConfig"></vue-ckeditor>
        </div>

    </div>


    <style>
        #title {
            font-weight: bold;
            font-size: 1.125rem;
        }

        #title.onlyShow {
            border-color: white !important;
        }

        #statement-container.basic.segment {
            border: 1px solid white;
        }

    </style>

    <script th:inline="javascript">
        new Vue({
            el: '#appTitle',
            data: {
                modeEdit: false,
                shouldShowNotice: false,
                hasAttachment: /*[[${statementData?.attachment} ? true : false]]*/ ''
            },
            mounted: function () {
                var that = this
                window.handleAttachmentDeleted = function () {
                    Vue.nextTick(function () {
                        that.hasAttachment = false
                    })
                }
            },
            methods: {
                startEditing: function () {
                    this.modeEdit = true
                    this.shouldShowNotice = false
                },
                stopEditing: function () {
                    this.modeEdit = false
                    this.shouldShowNotice = false
                },
                mouseOverTitle: function () {
                    this.shouldShowNotice = !this.modeEdit
                },
                mouseLeaveTitle: function () {
                    this.shouldShowNotice = false
                },
                handleAttachmentSelected: function (e) {
                    this.hasAttachment = true
                },
                handleAttachmentDeleted: function () {
                    this.hasAttachment = false
                },
                removeAttachment: function () {
                    var that = this
                    $.ajax({
                        type: 'GET',
                        url: "[(${urlRemoveAttachment})]",
                        success: function (data) {
                            that.hasAttachment = false
                        }
                    })
                }
            }
        })
    </script>
    <script th:inline="javascript">
        CKEDITOR.disableAutoInline = true

        new Vue({
            el: '#statement-section',
            data: {
                content: '',
                modeEdit: false,
                shouldShowNotice: false,
                ckeditorConfig: {
                    customConfig: /*[[@{/ckeditor/config-elaastic.js}]]*/ ''
                }
            },
            mounted: function () {
                var that = this
                that.content = $(that.$refs.initialContent).val()
            },
            methods: {
                startEditing: function () {
                    this.modeEdit = true
                    this.shouldShowNotice = false
                },
                stopEditing: function () {
                    this.modeEdit = false
                    this.shouldShowNotice = false
                },
                mouseOverStatement: function () {
                    this.shouldShowNotice = !this.modeEdit
                },
                mouseLeaveStatement: function () {
                    this.shouldShowNotice = false
                }
            }
        })
    </script>
</div>
