<!DOCTYPE html>
<html lang="en" th:fragment="leftMenuLayout (title, pageSpecificMenu, content, style)"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=no" name="viewport"/>
    <meta name="description"
          th:content="#{elaastic.description}">
    <meta name="author" content="Ticetime">
    <meta content="#ffffff" name="theme-color"/>
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <title th:replace="${title}">Page title</title>
    <link th:href="@{/semantic/dist/semantic.min.css}" type="text/css" rel="stylesheet" media="screen, projection">
    <link th:href="@{/css/elaastic.css}" type="text/css" rel="stylesheet" media="screen, projection">
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/semantic/dist/semantic.js}"></script>
    <script th:src="@{/js/vuejs/vue.min.js}"></script>
    <script th:src="@{/js/vuejs/vue-resource.min.js}"></script>
    <style th:replace="${style}"></style>

    <style type="text/css">[v-cloak] {
      display: none;
    }</style>

    <script type="text/javascript"
            src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  </head>

  <body>

    <div class="ui left vertical inverted visible sidebar labeled icon menu"
         style="background-color: #4f7691; overflow: visible !important;">

      <a th:href="@{/home}"
         href="/home"
         class="header item"
         style="margin-top: 1em;">
        <img th:src="@{/images/elaastic/logos/Elaastic_pictoRVB.png}"
             src="/images/elaastic/logos/Elaastic_pictoRVB.png"
             style="width: 48px"/>
      </a>

      <div class="ui divider"></div>

      <a sec:authorize="hasAnyAuthority('TEACHER_ROLE', 'ADMIN_ROLE')"
         th:href="@{/assignment}"
         href="/assignment"
         class="item"
         th:attr="data-tooltip=#{assignment.my.list.label}"
         data-tooltip="My assignments"
         data-position="right center"
         data-inverted="">
        <i class="book icon"></i>
      </a>

      <a sec:authorize="hasAnyAuthority('STUDENT_ROLE', 'ADMIN_ROLE')"
         th:href="@{/player}"
         href="/player"
         class="item"
         th:attr="data-tooltip=#{player.my.assignment.list.label}"
         data-tooltip="My works"
         data-position="right center"
         data-inverted="">
        <i class="travel icon"></i>
      </a>

      <a sec:authorize="hasAuthority('ADMIN_ROLE')"
         th:href="@{/ltiConsumer}"
         href="/ltiConsumer"
         class="item"
         data-tooltip="LtiConsumer"
         data-position="right center"
         data-inverted="">
        <i class="settings icon"></i>
      </a>

      <div th:replace="layout/components/userMenu :: userMenu(user=${user})"></div>

      <div class="ui divider"></div>

      <div th:replace="${pageSpecificMenu}"></div>
    </div>

    <div style="margin-left: 90px;">
      <div id="page-content" class="ui container">

        <div class="ui hidden divider"></div>

        <div class="ui container">
          <div th:replace="${content}"></div>
          <div th:replace="layout/components/footer :: footer"></div>
        </div>
      </div>

    </div>

  </body>
</html>
