<!DOCTYPE html>
<html lang="en" th:replace="layout/anonymous :: anonymousLayout(~{::title}, ~{::section})"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title th:text="#{passwordReset.request.page.title}">Elaastic</title>
</head>

<body>
<section>
    <div class="ui container">

            <div th:if="${message}" class="ui message">
                <i class="exclamation icon"></i>
                [[${message}]]
            </div>
        <a href="#" class="ui primary button"
                th:href="@{/login}">
            [[#{password.redirect.home.page}]]
        </a>

    </div>
</section>
</body>
