<!DOCTYPE html>
<html lang="en"
      th:replace="layout/leftMenu :: leftMenuLayout(~{::title}, ~{::section})"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <title th:text="|elaastic: #{useraccount.title}|"></title>
</head>

<body>
<section>
  <div style="max-width: 800px; margin: auto;">
    <h2 class="ui header">
      <i class="user icon"></i>

      <div class="content">
        [[#{useraccount.title}]]
      </div>
    </h2>


    <div th:replace="layout/components/message :: message(${messageType}, ${messageContent})">
      Message
    </div>

    <div class="ui segment">

      <form class="ui form"
            th:object="${passwordData}"
            th:classappend="${#fields.hasErrors('*')}? 'error'"
            th:action="@{/userAccount/updatePassword}" method="post">

        <div th:replace="layout/components/form-messages :: formMessages('')"></div>

        <input type="hidden" th:field="*{id}">

        <div class="field">
          <label>
            [[#{useraccount.form.password}]]
          </label>
          <input type="password"
                 id="password" th:placeholder="#{useraccount.form.originalPassword.placeholder}"
                 name="password">
        </div>

        <div class="field">
          <input type="password"
                 id="password1" th:placeholder="#{useraccount.form.newPassword.placeholder}"
          name="password1">
        </div>

        <div class="field">
          <input type="password"
                 id="password2"
                 th:placeholder="#{useraccount.form.confirmNewPassword.placeholder}"
          name="password2">
        </div>

        <button type="submit"
                class="ui primary button">
          [[#{useraccount.save.button}]] &raquo;
        </button>
      </form>

    </div>


    <script>
      $(document)
      .ready(function () {

      $('.message .close')
      .on('click', function () {
      $(this)
      .closest('.message')
      .transition('fade')
      ;
      });

      });

    </script>
  </div>


</section>
</body>
</html>
