<div th:fragment="dashboard(sequenceInfo,interaction)"
     class="ui accordion segment"
     id="result-accordion"
     xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

  <div class="ui dividing active title header">
    <i class="dropdown icon"></i>
    <span th:text="#{questions.results}">Results</span>

    <div th:if="${!sequenceInfo.stopped}">
<!--      TODO Migrate remoteLink-->
      <g:remoteLink style="float: right;"
                    controller="player"
                    action="updateResultsAndSequenceDisplay"
                    id="${sequence.id}"
                    update="sequence_${interactionInstance.sequenceId}"
                    th:attr="data-tooltip=#{player.sequence.readinteraction.updateAllResults(${interaction.rank})}"
                    data-inverted=""
                    data-position="top right"
                    th:onComplete="|MathJax.Hub.Queue(['Typeset',MathJax.Hub,'sequence_${interaction.sequenceId}'])|">
<!--        TODO Test MathJax-->
        <i class="small refresh icon"></i></g:remoteLink>
    </div>

  </div>

  <div class="ui basic padded segment active content"
       style="font-size: 1rem;"
       th:id="interaction_${interaction.id}_result">

    <div th:if="${!sequenceInfo.hasChoices || sequenceInfo.hasAnyResult}">
      <g:render template="/assignment/player/sequence/teacher/dashboard/responseDistributionCharts"
                model="[interactionInstance: responseSubmissionInteraction]"/>

      <div th:if="${sequenceInfo.hasExplanations}">
        <g:set var="attempt" value="${sequence.executionIsBlendedOrDistance() ? 2 : 1}"/>
        <g:if test="${sequence.statement.hasChoices()}">
          <g:set var="responses" value="${sequence.findAllGoodResponses(attempt)}"/>
          <g:set var="badResponses" value="${sequence.findAllBadResponses(attempt)}"/>
        </g:if>
        <g:else>
          <g:set var="responses" value="${sequence.findAllOpenResponses(attempt)}"/>
          <g:set var="badResponses" value="${[:]}"/>
        </g:else>

        <g:render template="/assignment/player/${org.tsaap.skin.SkinUtil.getView(params, session, 'ExplanationList')}"
                  model="[responses: responses, sequence: sequence, badResponses: badResponses]"/>
      </div>
    </div>
    <g:else>
      <div class="ui warning message" th:text="#{player.sequence.noContribution}">
        No contribution.
      </div>
    </g:else>
  </div>
</div>

<r:script>
  $(document).ready(function () {
  $('#result-accordion').accordion();
  });
</r:script>