<div
  th:fragment="steps(responseSubmissionState, evaluationState, readState, showStatistics, studentsProvideExplanation, sequenceStatistics)"
  th:remove="tag"
  xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

  <div class="ui three top attached steps">
    <div class="step"
         th:classappend="|${responseSubmissionState == 'disabled' ? 'disabled' : ''} ${responseSubmissionState == 'active' ? 'active-phase' : ''} ${responseSubmissionState == 'completed' ? 'completed-phase' : ''}|">
      <div th:if="${showStatistics == true && responseSubmissionState != 'disabled'}"
           class="floating ui grey label" style="left: 3em;" data-inverted=""
           th:attr="data-tooltip=#{'player.sequence.interaction.responseCount'(1)}"
           data-position="bottom left"><i
        class="comment outline icon"></i>
        <span th:text="${sequenceStatistics.nbResponsesAttempt1}"></span>
      </div>

      <i class="phase-icon comment outline icon"></i>

      <div class="content">
        <div class="title" th:text="#{sequence.phase.1}">
        </div>

        <div class="description" style="min-height: 2.5rem;">
          <span th:if="${studentsProvideExplanation == true}"
                th:text="#{sequence.phase.ResponseSubmission.arguedResponse}"></span>
          <span th:if="${studentsProvideExplanation == false}"
                th:text="#{sequence.phase.ResponseSubmission.firstResponse}"></span>
        </div>
      </div>
    </div>

    <div class="step"
         th:classappend="|${evaluationState == 'disabled' ? 'disabled' : ''} ${evaluationState == 'active' ? 'active-phase' : ''} ${evaluationState == 'completed' ? 'completed-phase' : ''}|">

      <div th:if="${showStatistics == true && evaluationState != 'disabled'}">
        <div class="floating ui grey label" style="left: 3em;" data-inverted=""
             th:attr="data-tooltip=#{player.sequence.interaction.peerEvaluationCount}"
             data-position="bottom left"><i class="comments outline icon"></i>
          <span th:text="${sequenceStatistics.nbEvaluations}"></span>
        </div>

        <div class="floating ui grey label" style="left: 9em;" data-inverted=""
             th:attr="data-tooltip=#{'player.sequence.interaction.responseCount'(2)}"
             data-position="bottom left"><i class="comment outline icon"></i>
          <span th:text="${sequenceStatistics.nbResponsesAttempt2}"></span>
        </div>
      </div>

      <i class="phase-icon comments outline icon"></i>

      <div class="content">
        <div class="title" th:text="#{sequence.phase.2}">
          Phase 2
        </div>

        <div class="description" style="min-height: 2.5rem;" th:text="#{sequence.phase.Evaluation.description}">
          Comparing viewpoints
        </div>
      </div>
    </div>

    <div class="step"
         th:classappend="|${readState == 'disabled' ? 'disabled' : ''} ${readState == 'active' ? 'active-phase' : ''} ${readState == 'completed' ? 'completed-phase' : ''}|">
      <i class="phase-icon bar chart icon"></i>

      <div class="content">
        <div class="title" th:text="#{sequence.phase.3}">
          Phase 3
        </div>

        <div class="description" style="min-height: 2.5rem;" th:text="#{sequence.phase.Read.description}">
          Results
        </div>
      </div>
    </div>
  </div>
</div>