<!DOCTYPE html>
<html lang="en"
      th:replace="layout/leftMenu :: leftMenuLayout(title=~{::title}, pageSpecificMenu=~{}, content=~{::body})"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
  <meta charset="UTF-8">
  <title>Test statement</title>
</head>
<body>
<section>
  <h2>Statement</h2>
  <form class="ui form" method="get" th:action="@{/player/test/statement}">
    <div class="fields">
      <div class="field">
        <label>panelClosed</label>
        <input name="panelClosed" type="checkbox" th:checked="${statementPanelModel.panelClosed}"/>
      </div>
      <div class="field">
        <label>hideQuestionType</label>
        <input name="hideQuestionType" type="checkbox" th:checked="${statementPanelModel.hideQuestionType}"/>
      </div>
      <div class="field">
        <label>hideStatement</label>
        <input name="hideStatement" type="checkbox" th:checked="${statementPanelModel.hideStatement}"/>
      </div>
    </div>

    <input type="submit" class="ui submit button"/>
    <hr class="ui hidden divider"/>
  </form>

  <div
    th:replace="player/assignment/sequence/components/_statement.html :: statement(${statementPanelModel},${statement})"></div>
</section>
</body>
</html>