<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>INFORMATION NOTICE AND CONSENT</title>
</head>
<body>
<h1>INFORMATION NOTICE AND CONSENT</h1>
<h4>Last update: <span th:text="${#dates.format(startDate, 'MM/dd/yyyy HH:mm')}">MM/dd/yyyy HH:mm</span></h4>
<p>
    The use of elaastic is part of the B4MATIVE! research project. In order to use elaastic, you must read and accept
    the terms of use described below.
</p>
<h2>Objectives of the research project</h2>
<p>
    Several researchers from the Institut de Recherche en Informatique de Toulouse (IRIT) have been working since 2011
    to set up the "elaastic" platform that allows teachers to orchestrate sequences of formative assessments during
    face-to-face or distance learning.
    In the context of the B4MATIVE research project funded by the Direction du Numérique pour l'Éducation (french
    government),
    we make available to teachers and students of the academy Nancy-Metz (project partner), and more generally to any
    teacher of universities, our web platform "elaastic" to collect and analyze traces from user interactions
    with elaastic. This collection and the associated analysis are aimed at:
</p>
<ul>
    <li>
        a better understanding and a better characterization of what is a "good" formative evaluation sequence
        orchestrated by a digital platform;
    </li>
    <li>
        the proposal of guidelines for the design of digital platforms dedicated to the orchestration of sequence of
        formative evaluations.
    </li>
</ul>
<h2>Researcher in charge of the scientific project</h2>
<p>
    SILVESTRE Franck, franck.silvestre at irit.fr <br>
    IRIT (UMR 5505)<br>
    118 route de Narbonne<br>
    31062 Toulouse Cedex 9<br>
</p>
<h2>Locations of research</h2>
<p>
    IRIT, on the one hand, and Nancy-Metz Academy institutions participating in the project, on the other.
</p>
<h2>What is expected from you (methodology)</h2>
<p><strong>You are a teacher</strong></p>
<p>
    If you agree to participate in this study, you will be asked to create questions and assignments on the elaastic
    platform for questioning your students during class or in the context of homework assignments. You will then be able
    to use elaastic to manage the different phases of your formative evaluations (phase of answers to questions, phase
    of confrontation of point of view, phase of restitution).
</p>
<p><strong>You are a student</strong></p>
<p>
    If you agree to participate in this study, you will be asked to answer your teachers 'questions using the elaastic
    platform and to comment on your classmates' responses. Your contributions to a homework assignment will be used by
    your teacher to provide guidance to help you improve your understanding of the topics covered in the questions.
</p>
<h2>Your rights to withdraw from the search at any time</h2>
<p>
    Your contribution to this research is voluntary. You may withdraw or stop participating at any time. Your decision
    to participate, refuse to participate, or cease your participation will have no effect on your academic background,
    status or future relationship with your institution.
</p>
<h2>Your rights to privacy and respect for privacy</h2>
<p>
    The data is kept in active database until 2028 and then permanently archived.<br>
    The data obtained will be treated with the utmost confidentiality.<br>
</p>
<p>
    In accordance with the provisions of the Data Protection Act, you will be able to exercise your right of access, and
    rectification or deletion to the scientific manager of the project (see information mention).
</p>
<p>
    The data will be anonymized in a strict way in order to proceed to the archiving in 2028. The strict anonymity does
    not make any more possible the rectification or the suppression of the information concerning you (the data
    concerning you are not any more related to your identity).
</p>

<h2>Benefits</h2>
<p>
    The expected benefits of this research are:
</p>
<ul>
    <li>a better understanding and a better characterization of what is a "good" formative evaluation sequence
        orchestrated by a digital platform;
    </li>
    <li>the provision of guidelines for the design of digital platforms dedicated to orchestrating sequence of formative
        assessments.
    </li>
</ul>
<h2>Possible risks</h2>
<p>
    To our knowledge, this research does not involve any risk or discomfort other than those of everyday life.
</p>
<h2>Diffusion</h2>
<p>
    This research will be disseminated in colloquia and will be published in conference proceedings and academic journal
    articles.
</p>

<h2>Your rights to ask questions at any time</h2>
<p>
    You can ask questions about the research at any time by contacting the project's scientific officer by e-mail at
    franck.silvestre at irit.fr.
</p>

<h2>Consent to participation</h2>
<p>
    By continuing on the elaastic website, you certify that you have read and understood the information above, that
    your questions have been satisfactorily answered and that you have been advised that you are free to cancel your
    consent. or withdraw from this search at any time, without prejudice.
</p>
</body>
</html>
