:root {
    --border-color: #7A7A7A;
}

.review {
    background-color: white;
    border-radius: 10px;
    color: black;
    display: inline-block !important;
    margin-bottom: 1em;
    width: 100%;
    border: 1px solid var(--border-color);
}

.review-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.review-border {
    border-top: 1px solid var(--border-color);
    padding: 10px 20px;
}

.review-border:first-child {
    border-top-width: 0;
}

/*////////////////*/

.review-DRAXO {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.draxo-content {
    border-top: 1px solid var(--border-color);
}

/*////////////////*/

.separator {
    border: 1px solid var(--border-color);
    height: inherit;
    align-self: stretch;
    margin: 0 3%;
}

.comment-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;

    margin-top: 14px;
    width: 100%;
}

.comment-header {
    flex: 1
}

.comment {
    flex: 2
}

.commentaire-text {
    font-size: 1em !important;
}

@media (max-width: 768px) {

    .comment-area {
        flex-direction: column !important;
        align-items: start !important;
    }

    .separator {
        display: none;
    }
}

/*////////////////*/

.review.hidden {
    background-color: #E6E6E6;
}

.ui.icon.button.hidden {
    background-color: #BFBFBF;
}

.message-hidden {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.review.hidden .ui.label {
    color: black;
    background-color: #BFBFBF;
}