<div th:fragment="modalEditProperties(assignment)"
     id="assignment-editProperties-modal"
     class="ui modal"
     xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
  <div class="header" th:text="#{assignment.action.propertiesEdition.label}">
    Edit properties
  </div>

  <div class="content">
    <form class="ui form"
          id="editProperties-form"
          th:object="${assignment}"
          th:classappend="${#fields.hasErrors('*')}? 'error'"
          th:action="@{/assignment/{id}/update(id=${assignment.id})}"
          method="POST">

      <div th:replace="layout/components/form-messages :: formMessages()"></div>

      <input type="hidden" name="version" th:value="*{version}"/>

      <div th:replace="assignment/_assignment_form :: assignmentForm(${assignment})"></div>
    </form>
  </div>

  <div class="actions">
    <div class="ui primary button"
         th:text="#{default.button.update.label}"
         onclick="$('#editProperties-form').submit();">
      Update
    </div>

    <div class="ui cancel button" th:text="#{common.cancel}">
      Cancel
    </div>
  </div>
</div>