<!DOCTYPE html>
<html lang="en" th:replace="layout/leftMenu :: leftMenuLayout(~{::title}, ~{}, ~{::section}, ~{})"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html>
<head>
  <title th:text="#{assignment.creation.label(#{assignment.label})}"></title>
</head>

<body>

<section>
  <div th:replace="layout/components/message :: message(${messageType}, ${messageContent})">
    Message
  </div>

  <div class="ui segment">
    <div class="ui top attached label" th:text="#{assignment.create.label}"></div>
    <form class="ui form"
          th:classappend="${#fields.hasErrors('*')}? 'error'"
          method="POST"
          th:object="${assignment}"
          th:action="@{/assignment/save}">

      <div class="ui error message" th:if="${#fields.hasErrors('*')}">
        <ul class="list">
          <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
        </ul>
      </div>

      <div th:replace="assignment/_assignment_form :: assignmentForm(${assignment})"></div>

      <input type="submit"
             name="create"
             class="ui primary button"
             th:value="#{default.button.create.label}"/>


      <a th:href="@{/assignment}" class="ui button" th:text="#{common.cancel}">
        Cancel
      </a>
    </form>
  </div>

</section>

</body>
</html>
