<!DOCTYPE html>
<html lang="en"
      th:replace="layout/leftMenu :: leftMenuLayout(title=~{::title}, content=~{::body})"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<html>
<head>
  <title th:text="#{assignment.creation.label(#{assignment.label})}"></title>
</head>

<body>

<div th:replace="layout/components/message :: message(${messageType}, ${messageContent})">
  Message
</div>

<div class="ui segment">
  <div class="ui top attached label" th:text="#{assignment.create.label}"></div>
  <form class="ui form"
        th:object="${assignment}"
        th:classappend="${#fields.hasErrors('*')}? 'error'"
        method="POST"
        th:action="@{/assignment/save}">

    <div th:replace="layout/components/form-messages :: formMessages()"></div>

    <div th:replace="assignment/_assignment_form :: assignmentForm(${assignment})"></div>

    <input type="submit"
           name="create"
           class="ui primary button"
           th:value="#{default.button.create.label}"/>


    <a th:href="@{/assignment}" class="ui button" th:text="#{common.cancel}">
      Cancel
    </a>
  </form>
</div>


</body>
</html>
