<!DOCTYPE html>
<html lang="en"
      th:replace="layout/3columns :: 3columns(title=~{::title}, pageSpecificMenu=~{::#pageSpecificMenu}, aside=~{::#layout-aside}, modalAside=~{::#modal-aside}, content=~{::section},extraHeader=~{::head/script})"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta name="layout" content="left_menu-elaastic">
        <title th:text="|elaastic: #{reportManager.title}|">elaastic: Report Manager</title>
    </head>

    <body>

    </body>
</html>