.alternate-wrapper {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    place-content: stretch space-between;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    overflow: visible;
    margin-bottom: 15px;
}

.alternate-wrapper .separator {
    border-bottom: 1px solid rgb(237, 239, 241);
    height: 0;
    margin: 16px auto;
    width: 100%;
}

.alternate-wrapper .login-alternate-spacer {
    min-width: 12px;
}

.alternate-wrapper .login-alternate {
    color: rgb(105, 117, 127);
    font-size: 16px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    line-height: 24px;
}

.kc-social-links li {
    width: 100%;
}

.kc-social-provider-logo {
    font-size: 23px;
    width: 30px;
    height: 25px;
    float: left;
}

.kc-social-gray {
    color: gray;
}

.kc-social-gray h2 {
    font-size: 1em;
}

.kc-social-item {
    margin-bottom: var(--pf-global--spacer--sm);
    font-size: 15px;
    text-align: center;
}

.kc-social-provider-name {
    position: relative;
}

.kc-social-icon-text {
    left: -15px;
}

.kc-social-grid {
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 5px;
    grid-column-end: span 6;
    --pf-l-grid__item--GridColumnEnd: span 6;
}

.kc-social-grid .kc-social-icon-text {
    left: -10px;
}

.kc-login-tooltip {
    position: relative;
    display: inline-block;
}

.kc-social-section {
    text-align: center;
}

.kc-social-section hr {
    margin-bottom: 10px
}

.kc-login-tooltip .kc-tooltip-text {
    top: -3px;
    left: 160%;
    background-color: black;
    visibility: hidden;
    color: #fff;

    min-width: 130px;
    text-align: center;
    border-radius: 2px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.6);
    padding: 5px;

    position: absolute;
    opacity: 0;
    transition: opacity 0.5s;
}